.card_container {
    margin: 10px;
    border-radius: 5px;
    background-color: #c0c7d4;
    border-color: #2B2D42;
    border-style: solid;
}

.img_card{
    width: 320px;
    height: 180px;
}

.button{
    cursor: pointer;
    font-weight: bold;
    color: #f1faee;
    background-color: #2B2D42;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    margin: 10px;
    height: 25px;
}

.button:hover{
    background-color: #8D99AE;
}