.button{
    cursor: pointer;
    font-weight: bold;
    color: #f1faee;
    background-color: #2B2D42;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    margin: 10px;
    height: 25px;
}

.button:hover{
    background-color: #EF233C;
}

.detail_container{
    border: solid #2B2D42;
}

